@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #f6f6f6;
    margin: 0;
    font-family: url('https://fonts.googleapis.com/css2?family=Iceland&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    background-color: black;
    position: fixed;
    width: 100%;
}

.header img {
    height: 60px;
    color: white;
    margin-top: 5px;
}

.header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    gap: 4vh;
}

.container h1 {
    margin-top: 15vh;
}

.container .quiz {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    border-radius: 3vh;
    gap: 4.5vh;
    align-items: center;
    margin-bottom: 10vh;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

.container .card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 1vh;
}

.container .card p {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.container .card select {
    padding: 1vh;
    width: 50vh;
    border-radius: 1vh;
}

.container .card input {
    padding: 1vh;
    width: 48vh;
    border-radius: 1vh;
    border: 0.2vh solid;
}

.container button {
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #191c23e6;
    padding: 15px;
    font-size: 16px;
    font-weight: bolder;
    width: 40%;
}

.container button:hover {
    background-color: white;
    color: #191c23e6;
    border: 1px solid;
    cursor: pointer;
}

.footer {
    background-color: black;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: white;
    text-align: center;
    justify-content: center;
}